@import "variables.scss";

.layout {
  .main {
    display: flex;
    min-height: calc(100vh - 6rem);
    background-color: $secondary;

    .title {
      flex: 0 0 6.5rem;
      // background-color: $primary;

      h1 {
        margin: 0;
        padding-left: $spacing;
        transform: rotate(90deg);
        transform-origin: 0 0;
        position: absolute;
        left: 6.5rem;
        text-transform: uppercase;
        font-size: 4rem;
      }
    }

    .content {
      flex: 1;
      padding: $spacing;
    }
  }

  .social {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    img {
      display: block;
      width: 2.5rem;
      margin-bottom: 0.4rem;
    }
  }
}

@media (max-width: 600px) {
}
