.layout {
  // min-height: 100vh;
  // padding: 0 0.5rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  .main {
    display: flex;
    min-height: calc(100vh - 100px);
    background-color: green;

    .title {
      flex: 0 1 15%;
    }

    .content {
      flex: 0 1 85%;
    }
  }
}

@media (max-width: 600px) {
}
