@import "variables.scss";

.dark {
  color: $textcolor;
  background-color: $secondary;
}

.light {
  color: $primary;
  background-color: $textcolor;
}

.layout {
  .main {
    display: flex;
    min-height: calc(100vh - 6rem);

    .title {
      flex: 0 0 6.5rem;

      h1 {
        margin: 0;
        padding-left: 4rem;
        transform: rotate(90deg);
        transform-origin: 0 0;
        position: absolute;
        left: 6.5rem;
        text-transform: uppercase;
        font-size: 4rem;
      }
    }

    .content {
      flex: 1;
      padding: 4rem;
    }
  }

  .social {
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    a {
      display: block;
      width: 2.5rem;
    }
  }
}

@media (max-width: 620px) {
  .layout {
    .main {
      .title {
        flex: 0 0 4.5rem;

        h1 {
          left: 3.5rem;
          font-size: 2rem;
          padding-left: 2rem;
        }
      }

      .content {
        padding: 2rem;
      }
    }

    .social {
      left: 1rem;

      a {
        width: 2rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .layout {
    .main {
      .content {
        padding-right: 10%;
      }
    }
  }
}
