@import "variables.scss";

.nav {
  user-select: none;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .logoHeader {
    display: flex;
    align-items: center;

    .logo {
      height: 3.5rem;
      padding-left: 2.5rem;

      svg {
        width: auto;
      }
    }

    span {
      font-size: 1.5rem;
      margin-left: 0.8rem;
    }
  }

  .menu {
    font-weight: 500;
    color: $primary;
  }

  ul {
    list-style: none;
    padding: 0 2.5rem 0 0;
  }

  li {
    display: inline-block;
    padding-left: 1rem;

    a {
      opacity: 60%;

      &:hover {
        opacity: 100%;
      }
    }
  }

  .active {
    opacity: 100%;
  }

  .openButton {
    display: none;
    margin-right: 1.5rem;
    // padding-top: 0.4rem;
    font-size: 2rem;
    color: $primary;
    cursor: pointer;
    opacity: 60%;

    &:hover {
      opacity: 100%;
    }
  }

  .closeButton {
    display: none;
    color: $textcolor;
    font-size: 2rem;
    padding: 1rem 0 0 1rem;
    cursor: pointer;
  }

  .shadow {
    position: fixed;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.2);
    height: 100%;
    width: 100%;
    z-index: 998;
  }
}

@media (max-width: 620px) {
  .nav {
    .openButton {
      display: block;
    }

    .closeButton {
      display: block;
    }

    .menu {
      position: fixed;
      right: -12rem;
      top: 0;
      height: 100%;
      width: 12rem;
      overflow-x: visible;
      overflow-y: auto;
      transition: right 0.3s ease;
      z-index: 999;
      background-color: $primary;
      color: $textcolor;

      ul {
        display: flex;
        height: 100%;
        max-height: 14rem;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-between;
      }
    }

    .menuActive {
      right: 0;
    }

    .logoHeader {
      .logo {
        padding-left: 1.5rem;
      }
    }

    ul {
      padding-right: 1.5rem;
    }
  }
}
