@import "variables.scss";

.nav {
  height: 100px;
  width: 100%;
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .logoHeader {
    display: flex;
    align-items: center;

    img {
      height: 45px;
      padding-left: 40px;
    }

    span {
      font-size: 1.5rem;
      margin-left: 0.8rem;
    }
  }

  ul {
    list-style: none;
    color: $primary;
  }

  li {
    display: inline-block;
    padding-right: 15px;
  }
}

@media (max-width: 600px) {
}
