@import "variables.scss";

.nav {
  height: 100px;
  width: 100%;
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .logo {
    height: 40px;
    padding-left: 40px;
  }

  ul {
    list-style: none;
    color: $primary;
  }

  li {
    display: inline-block;
    padding-right: 15px;
  }
}

@media (max-width: 600px) {
}
