@import "variables.scss";

.about {
  .profile {
    display: flex;
    align-items: center;
  }

  .profilePhoto {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      border-radius: 100%;
      position: absolute;
    }
  }

  .bioText {
    text-align: justify;
    flex: 2;
    padding: 0 2rem;
  }

  .placeholder {
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    background-color: $primary;
  }

  .hobbies {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      max-width: 80%;
    }

    li {
      background-color: $primary;
      flex: 1;
      border-radius: 100%;
      padding: 2vmin;
      margin-right: 1vmin;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
}
