@import "variables.scss";

.about {
  .profile {
    display: flex;
    align-items: center;
  }

  .profilePhoto {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      border-radius: 100%;
      position: absolute;
    }
  }

  .bioText {
    text-align: justify;
    flex: 2;
    padding: 0 2rem;
  }

  .placeholder {
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    background-color: $primary;
  }

  .hobbies {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
    }

    li {
      cursor: pointer;
      background-color: $primary;
      opacity: 60%;
      flex: 0 1 4rem;
      border-radius: 100%;
      margin-right: 2vmin;

      &:hover {
        opacity: 100%;
      }

      img {
        width: 100%;
      }
    }

    .active {
      opacity: 100%;
    }
  }
}

@media (max-width: 600px) {
}
