@import "variables.scss";

.about {
  .profile {
    display: flex;
    align-items: center;
  }

  .profilePhoto {
    flex: 1;
    position: relative;

    img {
      width: 100%;
      border-radius: 100%;
      position: absolute;
    }
  }

  .bioText {
    flex: 2;
    padding: 0 2rem;
  }

  .placeholder {
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    background-color: $primary;
  }

  .hobbies {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

    li {
      margin-right: 2vmin;
      margin-bottom: 2vmin;
      flex-basis: 6rem;
      opacity: 60%;

      &:hover {
        opacity: 100%;
      }
    }

    p {
      font-size: 1.2rem;
    }

    .iconWrapper {
      cursor: pointer;
      background-color: $primary;
      border-radius: 100%;

      img {
        width: 100%;
      }
    }

    .iconLabel {
      text-align: center;
    }

    .active {
      opacity: 100%;
    }

    .hide {
      visibility: hidden;
    }
  }
}

@media (max-width: 800px) {
  .about {
    .profile {
      display: block;
    }

    .profilePhoto {
      img {
      }
    }

    .bioText {
      padding: 2rem 0;
    }

    .hobbies {
      li {
        flex-basis: 3rem;
      }
    }
  }
}
