@import "variables.scss";

.contact {
  .emailAddress {
    font-weight: bolder;
    margin: 1rem 0 2rem;
    color: $primary;
  }

  .formWrapper {
    position: relative;
  }

  .loaderWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    opacity: 60%;

    button {
      color: $textcolor;
      border: 1px solid $textcolor;
      padding: 0.4rem 0.6rem;
      border-radius: 4px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem 2rem;
    border-left: 2px solid $primary;
    border-radius: 4px;

    input,
    textarea {
      font-size: 1.2rem;
      font-family: inherit;
      padding: 0.1rem 0.3rem;
      margin: 0.1rem;
      background-color: transparent;
      border: none;
      border-bottom: solid 1px $primary;
      color: inherit;
    }

    input {
      height: 2rem;
      margin-bottom: 1rem;
    }

    textarea {
      height: 8rem;
      resize: vertical;
    }
  }

  .formGroup {
    display: flex;
    justify-content: space-between;

    input {
      flex: 1 1 auto;
    }

    input:first-child {
      margin-right: 0.3rem;
    }
  }

  .submit {
    margin: 1rem 0;
    background-color: $textcolor;
    color: $secondary;
    border: none;
    border-radius: 4px;
    font-size: inherit;
    padding: 0.4rem 0;
  }
}

@media (max-width: 800px) {
  .contact {
    form {
      padding-right: 0;
      padding-left: 1rem;

      input,
      textarea {
        font-size: 0.8rem;
      }
    }

    .formGroup {
      flex-direction: column;
    }
  }
}
