@import "variables.scss";

.home {
  display: flex;
  flex-wrap: wrap-reverse;

  .welcomeWrapper {
    flex: 1;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;

    p {
      letter-spacing: 2px;
    }
  }

  .mascotWrapper {
    position: relative;
    flex: 1;
    min-width: 10rem;
    max-height: 70vh;
    align-items: center;
    margin-bottom: 2rem;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .lightGlow {
    background: $primary;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1rem;
    border-radius: 100%;
  }

  .dim {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 800px) {
  .home {
    .welcomeWrapper {
      p {
        font-size: 2.5rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home {
    .welcomeWrapper {
      p {
        font-size: 3rem;
      }
    }
  }
}
