@import "variables.scss";

.portfolio {
  .projects {
    .id0 {
      background-color: $primary;
      color: $secondary;
    }
    .id1 {
      background-color: $primary;
      color: $textcolor;
    }
    .id2 {
      background-color: #42b983;
      color: $textcolor;
    }
    .id3 {
      background-color: #151719;
      color: $textcolor;
    }
    .id4 {
      background-color: #d92c41;
      color: $textcolor;
    }
    .id5 {
      background-color: #3273dc;
      color: $textcolor;
    }
    .id6 {
      background-color: #679289;
      color: $textcolor;
    }

    .imageCard {
      border-radius: 4px;
      font-size: 1.2rem;
    }

    .textCard {
      border: 2px solid $primary;
      border-left: none;
      border-radius: 4px;

      a {
        display: block;
      }
    }
  }
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 20rem;
}

.embla__slide__img {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__slide__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media (max-width: 800px) {
  .embla__slide__img {
    flex-direction: column;
  }

  .portfolio {
    .projects {
      .imageCard {
        border-radius: 4px;
        font-size: 1rem;
      }

      .textCard {
        border-left: 2px solid $primary;
        border-top: none;
      }
    }
  }
}
