@import "variables.scss";

.portfolio {
  .projects {
    .id0 {
      border: 2px solid $textcolor;
    }
    .id1 {
      background-color: $primary;
    }
    .id2 {
      background-color: #67c23a;
    }
    .id3 {
      background-color: #151719;
    }
    .id4 {
      background-color: #d92c41;
    }
    .id5 {
      background-color: #3273dc;
    }
    .id6 {
      background-color: #679289;
    }

    .textCard {
      background-color: $secondary;
      border: 2px solid $primary;
      border-left: none;

      a {
        display: block;
      }
    }
  }
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__slide__img {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__slide__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media (max-width: 800px) {
  .portfolio {
    .projects {
      .slide > div {
        flex-direction: column;
      }
    }
  }
}
