@import "variables.scss";

.resume {
  .skills {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
    }
  }

  .skillItems {
    // margin-right: 1rem;
    background-color: $textcolor;
    color: $secondary;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0.5rem 0;
    cursor: default;
    border-radius: 1rem;
  }

  .experience {
    // h3 {
    //   margin-top: 0;
    // }
    display: flex;

    div:first-child {
      margin-right: $spacing;
    }

    .timeline {
      position: relative;
      list-style: none;
    }

    .timeline li {
      padding: 0.6rem 1.6rem;
      position: relative;
      background-color: inherit;
    }

    .timeline::after {
      content: "";
      position: absolute;
      width: 0.1rem;
      background-color: $primary;
      top: 0;
      bottom: 0;
      left: 2rem;
    }

    .timeline li::after {
      content: "";
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      background-color: $primary;
      left: -1.2rem;
      top: 1.7rem;
      border-radius: 50%;
      z-index: 1;
    }

    .resume {
      background-color: $primary;
      padding: 2rem;
      border-radius: 0.2rem;
    }
  }
}

@media (max-width: 600px) {
}
