@import "variables.scss";

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
  color: $textcolor;
  background-color: $secondary;
}

h2 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

button:active {
  outline: none;
  background: transparent;
  border: 0;
}

svg {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.externalLink {
  color: $textcolor;
  text-decoration: underline;

  &:hover {
    color: $primary;
  }
}

.divider {
  border-bottom: solid 2px $primary;
  margin: 0;
  padding: 0;
  width: 100%;
}

.is-draggable {
  cursor: move;
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}
