@import "variables.scss";

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
  color: $textcolor;
}

h2 {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.divider {
  border-bottom: solid 2px $primary;
  margin: 0;
  padding: 0;
  width: 100%;
}

.embla {
  position: relative;
}

.embla__viewport {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__slide > div {
  background-color: $primary;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.embla__card1 {
  background-color: $primary;
}

.embla__card2 {
  background-color: $secondary;
  border: 2px solid $primary;

  a {
    display: block;
  }
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: $textcolor;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

@media (max-width: 800px) {
  .embla__slide > div {
    flex-direction: column;
  }

  .embla__button--prev {
    left: 0;
  }

  .embla__button--next {
    right: 0;
  }
}
